#icon-editor {
	--icon-size: 1.3rem;
	position: relative;
	/* top: 2rem; */
	/* left: 2rem; */
	/* bottom: 4rem; */
	/* right: 2rem; */
	/* background-color: white; */
	/* box-shadow: 0.2rem 0.2rem 1rem #00000080; */
	/* padding-top: 0.5rem; */
	/* border-radius: 0.3rem; */
	/* overflow: hidden; */
	height: 100%;
	/* z-index: 100; */
	/* display: flex; */
	/* flex-direction: column; */
}

#icon-editor .top [data-choice-value] {
	padding-top: calc(0.5em - 4px);
	border-top: 4px solid transparent;
	color: #aaa;
}
#icon-editor .top [data-choice-value].chosen {
	border-top-color: #eee;
	color: #000;
}

#icon-editor .element-head-wrapper {
	padding: 1.5rem 1rem 1.5rem 1.5rem;
	border-bottom: 1px solid #ddd;
}
#icon-editor .element-head {
	display: flex;
}
#icon-editor .element-head input {
	font-family: var(--font);
	font-size: 1.2rem;
	border: none;
	border-bottom: 2px solid #ccc;
	margin: 0 1em;
	flex: 1;
}
.icon-preview-wrapper {
	display: flex;
	width: 2em;
	min-width: 2em;
	height: 2em;
	color: #fff;
	background-color: #aaa;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
}
[name="icon-preview"] {
	height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	padding: 0 0.5em;
}

[name="icon-list"],
[name="colorselector-bubbles"] {
	padding: 0 1rem;
	font-size: var(--icon-size);
	color: #888;
}

[name="custom-icon-editor"] {
	justify-content: center;
	padding: 0.5rem;
}
input[name="unicode-codepoint"] {
	font-family: monospace;
	text-align: center;
	font-size: 1rem;
	letter-spacing: 0.3em;
	padding: 0.2em;
	width: 5rem;
}

#icon-editor .color-bubble,
#icon-editor .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 4px solid white;
	border-radius: 100%;
	font-size: 1em;
	width: 2em;
	height: 2em;
	margin: 0.5em;
}
#icon-editor .icon.chosen {
	box-shadow: 0 0 0 4px #aaa;
}

#icon-editor .item-options {
	padding-left: 2.2rem;
	padding-top: 1rem;
	flex-wrap: wrap;
}

#icon-editor .conditional {
	display: none;
}
#icon-editor.paymentmethod .on-paymentmethod,
#icon-editor.mastercategory .on-mastercategory {
	display: flex;
}

#icon-editor .conditional > div {
	margin-left: 1rem;
}

[data-check] {
	align-items: center;
}
[data-check] i {
	display: inline-block;
	width: 1.5rem;
	text-align: center;
	margin-right: 0.2rem;
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 400;
	color: #aaa;
}
[data-check] span {
	color: #aaa;
}
[data-check].checked span {
	color: #666;
}
[data-check].checked i {
	font-weight: 900;
	color: #888;
}
[data-check="default"].checked i {
	color: gold;
}
[data-check="disable"].checked i {
	color: #e00;
}

.autowrap-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 2.5em);
	justify-content: center;
	justify-items: center;
	align-content: start;
}
