@media (hover: hover) {
	.click:hover {
		cursor: pointer;
	}
	.buttons > div:hover,
	.labeled-icon:hover,
	.menubox .menuitem:hover,
	.menubox .menubutton:hover,
	#expense-editor tbody td:hover {
		background-color: #eee;
		cursor: pointer;
	}
	#icon-editor .icon:hover {
		cursor: pointer;
		box-shadow: 0 0 0 4px #eee;
	}
}
