.menubox {
	background-color: #fff;
	box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #00000080;
	z-index: 200;
}

.menubox .title {
	--color: #aaa;
	color: var(--color);
	font-weight: bold;
	text-align: center;
	margin: 0 2em;
	padding: 0.7em 0;
	border-bottom: 2px dotted var(--color);
	white-space: nowrap;
}

.menubox .menuitem {
	display: flex;
	padding: 0.5em 1.5em 0.5em 0.5em;
	align-items: center;
	white-space: nowrap;
}
.menubox .menuitem + .menuitem {
	border-top: 1px solid #eee;
}

.menubox .menuitem.itemsbox {
	border: none;
	padding: 0 0.5em 0.5em 0.5em;
}
.menubox .menuitem.itemsbox:hover {
	background-color: initial;
}

.menubox .icon {
	display: flex;
	width: 2em;
	min-width: 2em;
	height: 2em;
	/* color: #fff; */
	align-items: center;
	justify-content: center;
}

.menubox .separator {
	border-top: 1px solid #ccc;
	margin: 0.2em 1em;
	height: 0;
}

.menubox .buttons {
	display: flex;
	width: 100%;
	padding: 1em;
}
.menubox .menubutton {
	flex: 1;
	border: 2px solid #ccc;
	padding: 0.5em 1rem;
	text-align: center;
	color: #666;
}
.menubox .menubutton + .menubutton {
	margin-left: 0.5em;
}

.menubox[data-menubox="months-selection"] .menuitem {
	text-align: center;
	padding: 1em 3em;
	display: block;
	border: none;
}
